<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3b42769d-1b43-413c-8a0f-999381039442" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="10bad4dc-5462-4b6c-88ab-b9c5d041c37f">headerProps</Composition>
      <Composition Key="d705a774-d826-4341-b3f8-6ba9fdaa7699">mainNavProps</Composition>
    </Compositions>
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="9f8dfb6c-ec3e-4926-b75d-defc735fef31">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="488080e5-ea90-4e1c-8d66-9a33ffdc1e2e" SortOrder="0">listingsPage</ContentType>
    <ContentType Key="bea3b07a-3a1b-48e7-b097-b3dc0698cfcb" SortOrder="1">contactPage</ContentType>
    <ContentType Key="4002f18f-c173-48f3-bfc7-a4ca666f117f" SortOrder="2">listItemPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>