<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d724df0b-78d0-482b-b3ad-f3c102267a17" Alias="indexPage" Level="2">
  <Info>
    <Name>Index Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="10bad4dc-5462-4b6c-88ab-b9c5d041c37f">headerProps</Composition>
      <Composition Key="edd92f39-9dd1-4c36-b593-d5af6cafef0c">mainContentProps</Composition>
      <Composition Key="d705a774-d826-4341-b3f8-6ba9fdaa7699">mainNavProps</Composition>
    </Compositions>
    <DefaultTemplate>IndexPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="1bfec1a0-3710-48b3-8b42-238a5474ad66">IndexPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="bea3b07a-3a1b-48e7-b097-b3dc0698cfcb" SortOrder="0">contactPage</ContentType>
    <ContentType Key="488080e5-ea90-4e1c-8d66-9a33ffdc1e2e" SortOrder="1">listingsPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>