<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4002f18f-c173-48f3-bfc7-a4ca666f117f" Alias="listItemPage" Level="2">
  <Info>
    <Name>ListItem Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="cd00d8ab-3f16-43bb-b945-fd567d702299">basicContentProps</Composition>
      <Composition Key="d705a774-d826-4341-b3f8-6ba9fdaa7699">mainNavProps</Composition>
    </Compositions>
    <DefaultTemplate>ListItemPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="ab98c161-9b39-4ac9-9ec3-7b47d961e075">ListItemPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>