<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="586d2a91-705a-43b0-9946-12d734dcd59d" Alias="listRowSetting" Level="4">
  <Info>
    <Name>List Row Setting</Name>
    <Icon>icon-science</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Content+Blocks/Setting+Model</Folder>
    <Compositions>
      <Composition Key="32a8d8da-cc5a-448d-9080-d30ca2581c3a">blockVisibilityProp</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>