<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7f2282af-1267-4284-aa06-4ecbd70a1024" Alias="listItem" Level="4">
  <Info>
    <Name>List Item</Name>
    <Icon>icon-science</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Content+Blocks/Content+Models</Folder>
    <Compositions>
      <Composition Key="ae5ab9b0-2386-40fc-beda-e62fad538426">descriptionProp</Composition>
      <Composition Key="07b7ca59-f7eb-4a5d-9bf1-dd41d45e08ef">imageProp</Composition>
      <Composition Key="25b732fa-0e7a-45b5-b0c5-25a4b72d1027">paidProp</Composition>
      <Composition Key="143ad71f-6f3b-4e2c-83d1-562ddf37364c">ratingProp</Composition>
      <Composition Key="01d418a4-4417-495c-939d-93a3e0d37af8">titleProp</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>