<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="488080e5-ea90-4e1c-8d66-9a33ffdc1e2e" Alias="listingsPage" Level="2">
  <Info>
    <Name>Listings Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="cd00d8ab-3f16-43bb-b945-fd567d702299">basicContentProps</Composition>
      <Composition Key="10bad4dc-5462-4b6c-88ab-b9c5d041c37f">headerProps</Composition>
      <Composition Key="d705a774-d826-4341-b3f8-6ba9fdaa7699">mainNavProps</Composition>
    </Compositions>
    <DefaultTemplate>ListingsPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="50cb9506-ef49-4d58-815b-4290957002f3">ListingsPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>