@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage;

<!-- Page Content-->
<section>
    <div class="container px-4 px-lg-5 mh-100" style="height: 100vh;">
        <div class="row gx-4 gx-lg-5 mx-auto">
            <div class="col-lg-6">
                <h1 class="mt-5">The Big Picture</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt voluptates rerum eveniet sapiente
                    repellat esse, doloremque quod recusandae deleniti nostrum assumenda vel beatae sed aut modi
                    nesciunt porro quisquam voluptatem.</p>
            </div>
        </div>
        <div class="row gx-4 gx-lg-5 mx-auto">
            <div class="col-lg-6 d-grid gap-2 mx-auto">
                <h1 class="mt-5">Lorem ipsum dolor</h1>
                <button class="btn btn-primary" type="button">Button</button>
            </div>
        </div>
    </div>
</section>