@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<List<CMS.ContactDTO>>

@await Html.PartialAsync("ContactPartial", new CMS.ContactDTO())

@if (Model.Any())
{
    <table class="table table-dark ">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var data in Model)
            {
                <tr>
                    <td>@data.Name</td>
                    <td>@data.Email</td>
                    <td>@data.Message</td>
                </tr>
            }
        </tbody>
    </table>































































































































}