@inherits UmbracoViewPage<BlockListItem>

@{
    var row = (ListItem)Model.Content;
}

<div class="col mb-5">
    <div class="card h-100">
        @if (!row.Paid)
        {
            <!-- Sale badge-->
            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Free
            </div>
        }
        @if (row.Paid)
        {
            <!-- Sale badge-->
            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Paid
            </div>
        }
        @if (row.UseImageUrl && row.Image?.Url != null)
        {
            <!-- Product image-->
            <img class="card-img-top" src="@row.Image?.Url" alt="..." />
        }
        @if (!row.UseImageUrl && row.ImagePicture?.Url() != null)
        {
            <!-- Product image-->
            <img class="card-img-top" src="row.ImagePicture.Url()" alt="..." />
        }
        <!-- Product details-->
        <div class="card-body p-4">
            <div class="text-center">
                @if (!string.IsNullOrEmpty(row.Title))
                {
                    <!-- Product name-->
                    <h5 class="fw-bolder">@row.Title</h5>
                }
                <!-- Product reviews-->
                <div class="d-flex justify-content-center small text-warning mb-2" data-toggle="tooltip" data-bs-placement="bottom" title="@row.Rating">
                    
                    @for (int i = 0; i < (int)row.Rating; i++)
                    {
                        <div class="bi-star-fill"></div>
                    }
                    @if (row.Rating - (int)row.Rating > 0)
                    {
                        <div class="bi-star-half"></div>
                    }
                </div>
                
            </div>
        </div>
        <!-- Product actions-->
        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><a class="btn btn-outline-dark mt-auto ">Read More</a>
            </div>
        </div>
    </div>
</div>