<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1d78b1c6-c464-4f8b-8273-1f909e45b57e" Alias="[BlockList] List Items" Level="1">
  <Info>
    <Name>[BlockList] List Items</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "7f2282af-1267-4284-aa06-4ecbd70a1024",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{title == '' ? 'List Item' + $index : title}}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>