<?xml version="1.0" encoding="utf-8"?>
<DataType Key="00d1581f-20a6-4c84-bff7-3c3b99278540" Alias="Block Visibility Prop - Hide - Toggle" Level="1">
  <Info>
    <Name>Block Visibility Prop - Hide - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": "Show",
  "LabelOn": "Hide",
  "ShowLabels": false
}]]></Config>
</DataType>