<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3e9ae076-5076-4237-aa89-a65fb0aea02f" Alias="Image Prop - Image - Multi URL Picker" Level="1">
  <Info>
    <Name>Image Prop - Image - Multi URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "OverlaySize": "small"
}]]></Config>
</DataType>