<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5035ce51-ad4b-4018-b3c1-3c8496b0a2a2" Alias="Rating Prop - Rating - Decimal" Level="1">
  <Info>
    <Name>Rating Prop - Rating - Decimal</Name>
    <EditorAlias>Umbraco.Decimal</EditorAlias>
    <DatabaseType>Decimal</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "min": 0,
  "step": 0.1,
  "max": 5
}]]></Config>
</DataType>