<?xml version="1.0" encoding="utf-8"?>
<Media Key="564c9282-f1cf-4147-a45a-91b6def1734e" Alias="Billaddning 808X403 1 659236190" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Billaddning808X4031659236190</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2022-11-05T16:28:02</CreateDate>
    <NodeName Default="Billaddning 808X403 1 659236190" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tkjeyvwp/billaddning-808x403-1-659236190]]></Value>
    </umbracoFile>
  </Properties>
</Media>