<?xml version="1.0" encoding="utf-8"?>
<Media Key="2cb95cca-eed2-49d2-a706-18acd2911b4e" Alias="Carcharge" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Carcharge</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-05T16:32:11</CreateDate>
    <NodeName Default="Carcharge" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/zrolslgs/carcharge.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>