<?xml version="1.0" encoding="utf-8"?>
<Content Key="364352a7-c99e-4288-b785-70d24c5bd0f8" Alias="Contact" Level="2">
  <Info>
    <Parent Key="75c79048-944e-47ac-bf08-e44f186e4eb3">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2022-11-07T14:50:02</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f409fac1-6d60-4390-8e21-b7abd07e9632">ContactPage</Template>
  </Info>
  <Properties>
    <mainNavigation>
      <Value><![CDATA[[
  {
    "name": "Home",
    "udi": "umb://document/75c79048944e47acbf08e44f186e4eb3"
  },
  {
    "name": "Listings",
    "udi": "umb://document/30116a8b45004f55abe991115de1444b"
  },
  {
    "name": "Contact",
    "udi": "umb://document/364352a7c99e4288b78570d24c5bd0f8"
  }
]]]></Value>
    </mainNavigation>
  </Properties>
</Content>