<?xml version="1.0" encoding="utf-8"?>
<Content Key="1e7bc814-a681-49d3-b4e4-1dcfb0a037d0" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2022-11-05T18:55:59</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9f8dfb6c-ec3e-4926-b75d-defc735fef31">HomePage</Template>
  </Info>
  <Properties>
    <headerImage>
      <Value><![CDATA[[
  {
    "key": "e0ba1f96-e1f7-49a9-8977-4aca120c6b64",
    "mediaKey": "2cb95cca-eed2-49d2-a706-18acd2911b4e"
  }
]]]></Value>
    </headerImage>
    <mainNavigation>
      <Value><![CDATA[[
  {
    "name": "Home",
    "udi": "umb://document/1e7bc814a68149d3b4e41dcfb0a037d0"
  },
  {
    "name": "Listings",
    "udi": "umb://document/30116a8b45004f55abe991115de1444b"
  },
  {
    "name": "Contact",
    "udi": "umb://document/364352a7c99e4288b78570d24c5bd0f8"
  }
]]]></Value>
    </mainNavigation>
    <pageTitle>
      <Value><![CDATA[asdasd]]></Value>
    </pageTitle>
    <subtitle>
      <Value><![CDATA[asddasd]]></Value>
    </subtitle>
  </Properties>
</Content>