<?xml version="1.0" encoding="utf-8"?>
<Content Key="75c79048-944e-47ac-bf08-e44f186e4eb3" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>indexPage</ContentType>
    <CreateDate>2022-11-09T12:42:27</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1bfec1a0-3710-48b3-8b42-238a5474ad66">IndexPage</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
]]></Value>
    </description>
    <header>
      <Value><![CDATA[Excepteur sint occaecat]]></Value>
    </header>
    <imageLink>
      <Value><![CDATA[[
  {
    "name": "https://images.unsplash.com/photo-1495435229349-e86db7bfa013?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1977&q=80",
    "url": "https://images.unsplash.com/photo-1495435229349-e86db7bfa013?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1977&q=80"
  }
]]]></Value>
    </imageLink>
    <mainNavigation>
      <Value><![CDATA[[
  {
    "name": "Home",
    "udi": "umb://document/75c79048944e47acbf08e44f186e4eb3"
  },
  {
    "name": "Listings",
    "udi": "umb://document/30116a8b45004f55abe991115de1444b"
  },
  {
    "name": "Contact",
    "udi": "umb://document/364352a7c99e4288b78570d24c5bd0f8"
  }
]]]></Value>
    </mainNavigation>
    <pageTitle>
      <Value><![CDATA[Duis aute irure]]></Value>
    </pageTitle>
    <subtitle>
      <Value><![CDATA[sunt in culpa qui officia deserunt]]></Value>
    </subtitle>
  </Properties>
</Content>