<?xml version="1.0" encoding="utf-8"?>
<Content Key="7fb3b4e0-3d32-42af-b7a9-02668632c9d8" Alias="Item" Level="3">
  <Info>
    <Parent Key="30116a8b-4500-4f55-abe9-91115de1444b">Listings</Parent>
    <Path>/Home/Listings/Item</Path>
    <Trashed>false</Trashed>
    <ContentType>listItemPage</ContentType>
    <CreateDate>2022-11-07T21:42:46</CreateDate>
    <NodeName Default="Item" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ab98c161-9b39-4ac9-9ec3-7b47d961e075">ListItemPage</Template>
  </Info>
  <Properties>
    <mainContent>
      <Value><![CDATA[]]></Value>
    </mainContent>
    <mainNavigation>
      <Value><![CDATA[]]></Value>
    </mainNavigation>
  </Properties>
</Content>