<?xml version="1.0" encoding="utf-8"?>
<Content Key="4740472c-e548-4a0a-8f63-cf4d5a8baf70" Alias="Item" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Item</Path>
    <Trashed Parent="1e7bc814-a681-49d3-b4e4-1dcfb0a037d0">true</Trashed>
    <ContentType>listingsPage</ContentType>
    <CreateDate>2022-11-07T21:37:55</CreateDate>
    <NodeName Default="Item" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="93960051-1d25-427a-9aa6-3f3534f023b9">Item</Template>
  </Info>
  <Properties>
    <headerImage>
      <Value><![CDATA[[]]]></Value>
    </headerImage>
    <mainContent>
      <Value><![CDATA[]]></Value>
    </mainContent>
    <mainNavigation>
      <Value><![CDATA[]]></Value>
    </mainNavigation>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <showBasket>
      <Value><![CDATA[1]]></Value>
    </showBasket>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
  </Properties>
</Content>