<?xml version="1.0" encoding="utf-8"?>
<Content Key="30de6d40-97da-4823-8e69-035368b27978" Alias="Item (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Item</Path>
    <Trashed Parent="30116a8b-4500-4f55-abe9-91115de1444b">true</Trashed>
    <ContentType>listItemPage</ContentType>
    <CreateDate>2022-11-07T21:40:44</CreateDate>
    <NodeName Default="Item (1)" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ab98c161-9b39-4ac9-9ec3-7b47d961e075">ListItemPage</Template>
  </Info>
  <Properties>
    <mainContent>
      <Value><![CDATA[]]></Value>
    </mainContent>
  </Properties>
</Content>