<?xml version="1.0" encoding="utf-8"?>
<Content Key="30116a8b-4500-4f55-abe9-91115de1444b" Alias="Listings" Level="2">
  <Info>
    <Parent Key="75c79048-944e-47ac-bf08-e44f186e4eb3">Home</Parent>
    <Path>/Home/Listings</Path>
    <Trashed>false</Trashed>
    <ContentType>listingsPage</ContentType>
    <CreateDate>2022-11-02T21:00:14</CreateDate>
    <NodeName Default="Listings" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="50cb9506-ef49-4d58-815b-4290957002f3">ListingsPage</Template>
  </Info>
  <Properties>
    <imageLink>
      <Value><![CDATA[[
  {
    "name": "https://images.unsplash.com/photo-1617886322207-6f504e7472c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80",
    "url": "https://images.unsplash.com/photo-1617886322207-6f504e7472c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
  }
]]]></Value>
    </imageLink>
    <mainContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/b058b438cbbf49fea6a0708072399a00"
      },
      {
        "contentUdi": "umb://element/409106bbfc2c42939c1d28631339512f"
      },
      {
        "contentUdi": "umb://element/fa10c4525d0647e6b41fb7cdc35e7cbe"
      },
      {
        "contentUdi": "umb://element/81da105b5e924a389d253b3fea5b9409"
      },
      {
        "contentUdi": "umb://element/373aa5c001eb44278e3c364a63b051fc"
      },
      {
        "contentUdi": "umb://element/2cb866afa2fe45bda54f90e393086a5b"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "7f2282af-1267-4284-aa06-4ecbd70a1024",
      "udi": "umb://element/b058b438cbbf49fea6a0708072399a00",
      "title": "consectetur adipiscing elit",
      "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
      "paid": "1",
      "useImageUrl": "1",
      "image": "[{\"name\":\"https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia.wired.com%2Fphotos%2F59322df2a31264584499352b%2Fmaster%2Fw_1200%2Cc_limit%2Fcharging-cars-ft.jpg&f=1&nofb=1&ipt=3d643f4f43ad0ec5737bd5b2d41b4399f0b3f779cb77c88b0b1b479dfd25bdfe&ipo=images\",\"url\":\"https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia.wired.com%2Fphotos%2F59322df2a31264584499352b%2Fmaster%2Fw_1200%2Cc_limit%2Fcharging-cars-ft.jpg&f=1&nofb=1&ipt=3d643f4f43ad0ec5737bd5b2d41b4399f0b3f779cb77c88b0b1b479dfd25bdfe&ipo=images\"}]",
      "imagePicture": "[]",
      "rating": "2.1"
    },
    {
      "contentTypeKey": "7f2282af-1267-4284-aa06-4ecbd70a1024",
      "udi": "umb://element/409106bbfc2c42939c1d28631339512f",
      "title": "Massa sed elementum",
      "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
      "paid": "1",
      "useImageUrl": "1",
      "image": "[{\"name\":\"https://images.unsplash.com/photo-1567575871234-9dc0fb96388d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80\",\"url\":\"https://images.unsplash.com/photo-1567575871234-9dc0fb96388d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80\"}]",
      "imagePicture": "[]",
      "rating": "5"
    },
    {
      "contentTypeKey": "7f2282af-1267-4284-aa06-4ecbd70a1024",
      "udi": "umb://element/fa10c4525d0647e6b41fb7cdc35e7cbe",
      "title": "Quam id leo in vitae turpis massa sed",
      "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
      "paid": "0",
      "useImageUrl": "1",
      "image": "[{\"name\":\"https://images.unsplash.com/photo-1600490819528-42405785433a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80\",\"url\":\"https://images.unsplash.com/photo-1600490819528-42405785433a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80\"}]",
      "imagePicture": "[]",
      "rating": "4"
    },
    {
      "contentTypeKey": "7f2282af-1267-4284-aa06-4ecbd70a1024",
      "udi": "umb://element/81da105b5e924a389d253b3fea5b9409",
      "title": "neque ornare aenean euismod",
      "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
      "paid": "0",
      "useImageUrl": "1",
      "image": "[{\"name\":\"https://images.unsplash.com/photo-1607197109166-3ab4ee4b468f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80\",\"url\":\"https://images.unsplash.com/photo-1607197109166-3ab4ee4b468f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80\"}]",
      "imagePicture": "[]",
      "rating": "2.1"
    },
    {
      "contentTypeKey": "7f2282af-1267-4284-aa06-4ecbd70a1024",
      "udi": "umb://element/373aa5c001eb44278e3c364a63b051fc",
      "title": "Rhoncus mattis",
      "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
      "paid": "1",
      "useImageUrl": "1",
      "image": "[{\"name\":\"https://images.unsplash.com/photo-1662630100731-aea68ef8c3c9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80\",\"url\":\"https://images.unsplash.com/photo-1662630100731-aea68ef8c3c9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80\"}]",
      "imagePicture": "[]",
      "rating": "1"
    },
    {
      "contentTypeKey": "7f2282af-1267-4284-aa06-4ecbd70a1024",
      "udi": "umb://element/2cb866afa2fe45bda54f90e393086a5b",
      "title": "Volutpat maecenas",
      "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
      "paid": "1",
      "useImageUrl": "1",
      "image": "[{\"name\":\"https://images.unsplash.com/photo-1648831008914-94ae1585a7bd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1252&q=80\",\"url\":\"https://images.unsplash.com/photo-1648831008914-94ae1585a7bd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1252&q=80\"}]",
      "imagePicture": "[]",
      "rating": "2.1"
    }
  ],
  "settingsData": []
}]]></Value>
    </mainContent>
    <mainNavigation>
      <Value><![CDATA[[
  {
    "name": "Home",
    "udi": "umb://document/75c79048944e47acbf08e44f186e4eb3"
  },
  {
    "name": "Listings",
    "udi": "umb://document/30116a8b45004f55abe991115de1444b"
  },
  {
    "name": "Contact",
    "udi": "umb://document/364352a7c99e4288b78570d24c5bd0f8"
  }
]]]></Value>
    </mainNavigation>
    <pageTitle>
      <Value><![CDATA[Charge smart]]></Value>
    </pageTitle>
    <subtitle>
      <Value><![CDATA[Our Collection of charging stations]]></Value>
    </subtitle>
  </Properties>
</Content>