<?xml version="1.0" encoding="utf-8"?>
<Content Key="33574dce-2b08-499e-80b7-ebc005dd763d" Alias="Listings" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Listings</Path>
    <Trashed Parent="1e7bc814-a681-49d3-b4e4-1dcfb0a037d0">true</Trashed>
    <ContentType>listingsPage</ContentType>
    <CreateDate>2022-11-05T18:57:24</CreateDate>
    <NodeName Default="Listings" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="50cb9506-ef49-4d58-815b-4290957002f3">ListingsPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>asdasd</p>]]></Value>
    </bodyText>
    <headerImage>
      <Value><![CDATA[[
  {
    "key": "b910a9ae-894b-4200-b3bb-66d56c5e5743",
    "mediaKey": "2cb95cca-eed2-49d2-a706-18acd2911b4e"
  }
]]]></Value>
    </headerImage>
    <mainNavigation>
      <Value><![CDATA[[
  {
    "name": "Home",
    "udi": "umb://document/1e7bc814a68149d3b4e41dcfb0a037d0"
  }
]]]></Value>
    </mainNavigation>
    <pageTitle>
      <Value><![CDATA[aasdasd]]></Value>
    </pageTitle>
    <subtitle>
      <Value><![CDATA[asdasd]]></Value>
    </subtitle>
  </Properties>
</Content>