<?xml version="1.0" encoding="utf-8"?>
<Content Key="30116a8b-4500-4f55-abe9-91115de1444b" Alias="Listings" Level="2">
  <Info>
    <Parent Key="1e7bc814-a681-49d3-b4e4-1dcfb0a037d0">Home</Parent>
    <Path>/Home/Listings</Path>
    <Trashed>false</Trashed>
    <ContentType>listingsPage</ContentType>
    <CreateDate>2022-11-02T21:00:14</CreateDate>
    <NodeName Default="Listings" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="50cb9506-ef49-4d58-815b-4290957002f3">ListingsPage</Template>
  </Info>
  <Properties>
    <headerImage>
      <Value><![CDATA[[
  {
    "key": "28130371-12b2-4678-9c45-5a0b1d9fb391",
    "mediaKey": "2cb95cca-eed2-49d2-a706-18acd2911b4e"
  }
]]]></Value>
    </headerImage>
    <mainContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/d61914ac15c44dd489eccc362ecf223f"
      },
      {
        "contentUdi": "umb://element/4e325b13d12e46c6b0d983ddb9d69eb9"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "7f2282af-1267-4284-aa06-4ecbd70a1024",
      "udi": "umb://element/d61914ac15c44dd489eccc362ecf223f",
      "title": "Liljeholmens laddstation",
      "description": "Obemannad laddstation i liljeholmen",
      "paid": "1",
      "rating": "3.9",
      "useImageUrl": "1",
      "image": "[{\"name\":\"https://cdn.corporate.walmart.com/dims4/WMT/dcd5723/2147483647/strip/true/crop/1656x1080+107+0/resize/920x600!/quality/90/?url=https%3A%2F%2Fcdn.corporate.walmart.com%2Fb0%2F63%2F54aa9b6f471e8821f2812daa4fb5%2Fevpstation-banner.jpg\",\"url\":\"https://cdn.corporate.walmart.com/dims4/WMT/dcd5723/2147483647/strip/true/crop/1656x1080+107+0/resize/920x600!/quality/90/?url=https%3A%2F%2Fcdn.corporate.walmart.com%2Fb0%2F63%2F54aa9b6f471e8821f2812daa4fb5%2Fevpstation-banner.jpg\"}]",
      "imagePicture": "[]"
    },
    {
      "contentTypeKey": "7f2282af-1267-4284-aa06-4ecbd70a1024",
      "udi": "umb://element/4e325b13d12e46c6b0d983ddb9d69eb9",
      "title": "Stockholm Stad Laddstation",
      "description": "Gratis obemannad laddstation",
      "paid": "0",
      "rating": "4.8",
      "useImageUrl": "1",
      "image": "[{\"name\":\"https://www.statx.com/wp-content/uploads/2022/05/Fire-Suppression-for-Electric-Vehicle-Charging-Stations.jpg\",\"url\":\"https://www.statx.com/wp-content/uploads/2022/05/Fire-Suppression-for-Electric-Vehicle-Charging-Stations.jpg\"}]",
      "imagePicture": "[]"
    }
  ],
  "settingsData": []
}]]></Value>
    </mainContent>
    <mainNavigation>
      <Value><![CDATA[[
  {
    "name": "Home",
    "udi": "umb://document/1e7bc814a68149d3b4e41dcfb0a037d0"
  },
  {
    "name": "Listings",
    "udi": "umb://document/30116a8b45004f55abe991115de1444b"
  },
  {
    "name": "Contact",
    "udi": "umb://document/364352a7c99e4288b78570d24c5bd0f8"
  }
]]]></Value>
    </mainNavigation>
    <pageTitle>
      <Value><![CDATA[Charge smart]]></Value>
    </pageTitle>
    <subtitle>
      <Value><![CDATA[Our Collection of charging stations]]></Value>
    </subtitle>
  </Properties>
</Content>